<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/nav1.css">
    <link rel="stylesheet" href="/styles/achiev.css">
    <title>Store</title>
</head>
<body>
    <script src="/js/nav1.js"></script>
    
    <div id="box">
        
      <button value="Redeem" id="redeem" class="navButt">Redeem</button>
      <button value="Shop" id="shop" class="navButt">Shop</button>
      <div id="redeemBox">
        <h1 #title>Profile Photos</h1>
      </div>
        
    </div>
    <script src="/js/achiev.js"></script>

    
</body>
</html>