<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title><link rel="stylesheet" href="/styles/certificate.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            KESHB School Presents a
        </div>

        <div class="marquee">
            Certificate of Completion
        </div>
        
        
        <img class="certlogo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRYElfbKjgl3XOcMV7trwAo9eB7cxw4e1q7A&usqp=CAU" alt="">


        <div class="assignment">
            This certificate is presented to
        </div>

        <div class="person">
            John Doe
        </div>

        <div class="reason">
            For completing HTML-1 <br/>
            Course
        </div>
    </div></body>
</html>