<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p class="codepen" data-height="347.45703125" data-default-tab="html,result" data-slug-hash="bGjLoGN" data-editable="true" data-user="Hassan3k" style="height: 347.45703125px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
        <span>See the Pen <a href="https://codepen.io/Hassan3k/pen/bGjLoGN">
        Untitled</a> by Hassan3k (<a href="https://codepen.io/Hassan3k">@Hassan3k</a>)
        on <a href="https://codepen.io">CodePen</a>.</span> 
      </p>
      <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script></html>