<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/landing.css">
    <!--Google Font Familt-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
    <title>Landing Page</title>
</head>
<body>
    <header class="landingHeader">
        <h1>Learn to code</h1>
        <h1>Let's start with understanding the WEB and HTML</h1>
    </header>
    <article class="articleWEB">
    <h3>THE WORLD WIDE WEB</h3>
    <p>
The World Wide Web (WWW or Web for short) is a system of interlinked, hypertext documents that are accessed via the Internet. It was created by Sir Tim Berners-Lee in 1989 and has since become an integral part of daily life for billions of people around the world. It allows for the sharing of information, communication, and the ability to access a vast array of resources, including text, images, videos, and interactive media.
<br><br>
The World Wide Web (WWW or Web for short) is a vast network of interconnected documents and other resources, linked by hyperlinks and URLs. It is a system that allows users to easily access and share information, using a web browser such as Google Chrome, Mozilla Firefox, Safari, or Microsoft Edge. The Web is built on top of the Internet, which is a global network of computers that are connected to each other. The Web allows users to access information by clicking on hyperlinks, which are embedded within web pages and take the user to a different webpage or resource.
    <p>
    </article>
    <article>
    <h3>HTML (Hypertext Markup Language)</h3>
    <p>        
        HTML (Hypertext Markup Language) is a markup language used to create the structure and layout of web pages. It is the standard markup language used to create web pages.
        <br><br>
        HTML documents are made up of a series of elements, which are represented by tags. Each element has an opening tag and a closing tag, and the content of the element is placed in between the tags. For example, the paragraph element is represented by the &ltp&gt tag and the closing &lt/p&gt  tag, and the content of the paragraph is placed in between the tags.
        <br><br>
        HTML elements can also have attributes, which provide additional information about the element. For example, the &ltimg&gt  element has a "src" attribute that specifies the URL of the image file.
        <br><br>
        HTML documents also use a variety of other tags and attributes to create headings, lists, links, images, tables, forms, and other types of content.
        <br><br>
        HTML5 is the latest version of HTML and it has many new features that enhance multimedia support, semantic content, and web application functionality.
        <br><br>
        HTML is used in combination with CSS (Cascading Style Sheets) to control the layout and visual appearance of web pages and JavaScript to add interactivity and dynamic functionality.
        <br><br>
        Overall, HTML is the backbone of web pages, providing the structure and layout of the content on the page, and it is an essential tool for web designers and developers.
    <p>
    </article>
    <div class="btnAllign">
        <input class="btnLearnHtml" type="button" value="Learn to Code with HTML">
    </div>
 
 

</body>
</html>