<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--nav.styles Link-->
        <link rel="stylesheet" href="/styles/nav1.css">
        <!--Footer link -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <!--Footer link -->
    <link rel="stylesheet" href="/styles/landing.css">
    <!--Google Font Familt-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
    <title>Landing Page</title>
</head>
<body>
  <!--nav Link-->
  <script src="/js/nav1.js"></script>
  <div style="margin-top: 100px;">
    <header class="landingHeader">
        <h1>Learn to code</h1>
        <h1>Let's start with understanding the WEB and HTML</h1>
    </header>
    <article class="articleWEB">
      <h3>THE WORLD WIDE WEB</h3>
      <p>
        The World Wide Web (WWW or Web for short) is a system of interlinked, hypertext documents that are accessed via the Internet. It was created by Sir Tim Berners-Lee in 1989 and has since become an integral part of daily life for billions of people around the world. It allows for the sharing of information, communication, and the ability to access a vast array of resources, including text, images, videos, and interactive media.
        <br><br>
        The World Wide Web (WWW or Web for short) is a vast network of interconnected documents and other resources, linked by hyperlinks and URLs. It is a system that allows users to easily access and share information, using a web browser such as Google Chrome, Mozilla Firefox, Safari, or Microsoft Edge. The Web is built on top of the Internet, which is a global network of computers that are connected to each other. The Web allows users to access information by clicking on hyperlinks, which are embedded within web pages and take the user to a different webpage or resource.
      </p>
    </article>
    <article>
      <h3>HTML (Hypertext Markup Language)</h3>
      <p>        
        HTML (Hypertext Markup Language) is a markup language used to create the structure and layout of web pages. It is the standard markup language used to create web pages.
        <br><br>
        HTML documents are made up of a series of elements, which are represented by tags. Each element has an opening tag and a closing tag, and the content of the element is placed in between the tags. For example, the paragraph element is represented by the &ltp&gt tag and the closing &lt/p&gt  tag, and the content of the paragraph is placed in between the tags.
        <br><br>
        HTML elements can also have attributes, which provide additional information about the element. For example, the &ltimg&gt  element has a "src" attribute that specifies the URL of the image file.
        <br><br>
        HTML documents also use a variety of other tags and attributes to create headings, lists, links, images, tables, forms, and other types of content.
        <br><br>
        HTML5 is the latest version of HTML and it has many new features that enhance multimedia support, semantic content, and web application functionality.
        <br><br>
        HTML is used in combination with CSS (Cascading Style Sheets) to control the layout and visual appearance of web pages and JavaScript to add interactivity and dynamic functionality.
        <br><br>
        Overall, HTML is the backbone of web pages, providing the structure and layout of the content on the page, and it is an essential tool for web designers and developers.
      </p>
    </article>
    <div class="btnAllign">
      <a href="/login">
      <input class="btnLearnHtml" type="button" value="Get started"></a>
    </div>
 
      <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-white">

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3 text-secondary"></i>KESBH School
              </h6>
              <p>
                KESHB School is designed with training, testing, and learning in mind. To facilitate reading and fundamental comprehension, examples could be simplified.
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Developers
              </h6>
              <p>
                <a href="https://github.com/SammPreston" class="text-reset">Sammantha</a>
              </p>
              <p>
                <a href="https://github.com/KafiH" class="text-reset">Kafi</a>
              </p>
              <p>
                <a href="https://github.com/EbruKostekci" class="text-reset">Ebru</a>
              </p>
              <p>
                <a href="https://github.com/Hassan3k" class="text-reset">Hassan</a>
              </p>
              <p>
                <a href="https://github.com/burakcersit" class="text-reset">Burak</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Useful links
              </h6>
              <p>
                <a href="/profile" class="text-reset">Profile</a>
              </p>
              <p>
                <a href="/roadMap" class="text-reset">Curriculum</a>
              </p>
              <p>
                <a href="/about" class="text-reset">About</a>
              </p>
              <p>
                <a href="/contactus" class="text-reset">Help - Contact Us</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Help - Contact Us</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3 text-secondary"></i> Bayshore Dr, Ottawa, ON</p>
              <p>
                <i class="fas fa-envelope me-3 text-secondary"></i>
                keshbschool@gmail.com
              </p>
              <p><i class="fas fa-phone me-3 text-secondary"></i> +1 647 573 15 15</p>
              <p><i class="fas fa-print me-3 text-secondary"></i> +1 647 585 96 96</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="#!">KESHBschool.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <!--Footer Link-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!--Footer Link-->

</body>
</html>