<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Footer link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--Footer link -->
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <script src="/js/nav1.js"></script>
    <div id="intro">
        <h1>Introduction to HTML</h1>
    </div>
    <div id="examp1">

        <p>HTML is the standard markup language for creating Web pages.</p>
        <h3>What is HTML</h3>
        <ul type="dot">
            <li>HTML stands for Hyper Text Markup Language </li>
            <li> HTML is the standard markup language for creating Web pages </li>
            <li> HTML describes the structure of a Web page </li>
            <li>HTML consists of a series of elements </li>
            <li>HTML elements tell the browser how to display the content </li>
        </ul>
        </div>
        </div>
</div>
    <br>
    <div class="title">
        <h3>A Simple HTML Document</h3>
    </div>
    <div id="examp2">
        
        <h4>Example</h4>
        <div id="examp3">
            <p>
                &lt;!DOCTYPE html&gt;
            </p>
            <p>
                &lt;html&gt;
            </p>

            <p>
                &lt;head&gt;
            </p>
            <p>&lt;title&gt; Page Title &lt;/title&gt;</p>
            
            <p>&lt;head&gt;</p>

            <p>
                &lt; body &gt;
            </p>

            <p>&lt;h1&gt;My First Heading &lt;/h1&gt;</p>
                <h1></h1>
            <p>&lt;p&gt; My First Paragraph&lt;/p&gt;</p>
            
            <p class="xmp">
                &lt; /body &gt;
            </p>

            <p>&lt;/html&gt;</p>
</div>
</div>
<br>
<div id="examp4">
    <div class="title">
    <h3>Example Explained</h3>
</div>

    <div id="examp6">
    <ul type="dot">
        <li>
            &lt;!DOCTYPE html&gt; - declaration defines that this document is an HTML5 document
        </li>
        <li>

        &lt;html&gt; - element is the root element of an HTML page
        </li>
        <li>
            &lt;head&gt; - element contains meta information about the HTML page
        </li>
        <li>
            &lt;body&gt; - element defines the document's body, and is a container for all the visible contents, such as
            headings, paragraphs, images, hyperlinks, tables, lists, etc.
        </li>
        <li>
            &lt;h1&gt; - element defines a large heading
        </li>
        <li>
            &lt;p&gt; - element defines a paragraph
        </li>

    </ul>
</div>
</div>
<br>
<div class=title><h3>What is an HTML Element</h3>
    </div>
<div id="examp5">

<p>An HTML element is defined by a start tag, some content, and an end tag:</p>

<p class="xmp">&lt;tagname&gt;content goes here&lt;/tagname&gt;</p>
<p>The HTML element is everything from the start tag to the end tag:</p>

<p>    &lt;h1&gt;My First Heading&lt;/h1&gt;</p>
 <p>   &lt;p&gt;My first paragraph.&lt;/p&gt;</p>

 <table border="1" cellspacing="0" cellpadding="20">
    <tr>
        <td>Start tag</td>
        <td> Element content</td>
        <td> End tag</td>
    </tr>
    <tr>
        <td rowspan="1"> &lt;h1&gt;</td>
        <td rowspan="1">My First Heading</td>
        <td> &lt;/h1&gt; </td>
    </tr>
    <tr>
        <td> &lt;p&gt;</td>
        <td> My first paragraph</td>
        <td> &lt;/p&gt;</td>
    </tr>
   
</table>
</div>
<div class="btnAllign">
    <a href="/quiz"><input class="btnLearnHtml" type="button" value="Quick Quiz"></a>
  </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-white">
   
  
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3 text-secondary"></i>KESBH School
                </h6>
                <p>
                    KESHB School is designed with training, testing, and learning in mind. To facilitate reading and fundamental comprehension, examples could be simplified.
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Developers
                </h6>
                <p>
                  <a href="https://github.com/SammPreston" class="text-reset">Sammantha</a>
                </p>
                <p>
                  <a href="https://github.com/KafiH" class="text-reset">Kafi</a>
                </p>
                <p>
                  <a href="https://github.com/EbruKostekci" class="text-reset">Ebru</a>
                </p>
                <p>
                  <a href="https://github.com/Hassan3k" class="text-reset">Hassan</a>
                </p>
                <p>
                    <a href="https://github.com/burakcersit" class="text-reset">Burak</a>
                  </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h6>
                <p>
                  <a href="/profile" class="text-reset">Profile</a>
                </p>
                <p>
                  <a href="/roadMap" class="text-reset">Curriculum</a>
                </p>
                <p>
                  <a href="/about" class="text-reset">About</a>
                </p>
                <p>
                  <a href="/contactus" class="text-reset">Help - Contact Us</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fas fa-home me-3 text-secondary"></i> Bayshore Dr, Ottawa, ON</p>
                <p>
                  <i class="fas fa-envelope me-3 text-secondary"></i>
                  keshbschool@gmail.com
                </p>
                <p><i class="fas fa-phone me-3 text-secondary"></i> +1 647 573 15 15</p>
                <p><i class="fas fa-print me-3 text-secondary"></i> +1 647 585 96 96</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
          © 2023 Copyright:
          <a class="text-reset fw-bold" href="http://localhost:3001/landing">KESHBschool.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
<!--Footer Link-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<!--Footer Link-->
</body>

</html>