<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/styles/nav1.css">
    
    <title>Nav example</title>
    <style>
        body{
            margin:auto;
            background-color:rgb(240, 189, 122);
        }
    </style>
</head>
<body>
    <!--Insert code below and the stylesheets link (in head tag) into all .ejs documents including, (but not limited to) curriculum and profile brances-->
    <script src="/js/nav1.js"></script>

    <!-- <button value="funTest" id="funTest">Login</button> -->
    
   
</body>
</html>