<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <!--nav.styles Link-->
     <link rel="stylesheet" href="/styles/nav1.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
     <link rel="stylesheet" href="styles/quiz.css">
    <link rel="icon" href="./assets/images/speech-bubble.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Quick Quiz</title>
</head>

<body>
    <header class="container text-center text-danger text-justify">
        <h1>Quick Quiz</h1>      
    </header>
    <main>
        <!--Starting-->        
        <div class="container">
            <section id="intro">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">                        
                        <p class="d-flex justify-content-center text-left">Just click on the green button to start the quiz. Do not forget that every incorrect answer will drop for 5  points and you will get 25 points for each correct answer and you have 75 seconds for 4 questions. GOOD LUCK
                        </p>
                        <button id="start" type="button" class="btn btn-success btn-lg float-lg-right">Start</button>
                        </p>
                    </div>
                </div>
            </section>
            
            <!-- questions and answer section-->
            <section id="questions">
                <div class="row">
                    <div class="col-12"></div>
                    <div class="col-12">
                        <h2 id="question">Question is here</h2>
                        <br>
                        <ul>
                            <li class="mb-3"><button id="answer1" value="0" type="button"
                                    class="btn btn-secondary ansBtn">Answr1</button></li>
                            <li class="mb-3"><button id="answer2" value="1" type="button"
                                    class="btn btn-secondary ansBtn">Answr2</button></li>
                            <li class="mb-3"><button id="answer3" value="2" type="button"
                                    class="btn btn-secondary ansBtn">Answr3</button></li>
                            <li class="mb-3"><button id="answer4" value="3" type="button"
                                    class="btn btn-secondary ansBtn">Answr4</button></li>
                        </ul>
                            <!-- time display -->
                            <div class="col-12">
                            <p class="d-flex justify-content-end time container-fluid h2">Time:75s</p>
                            </div>
                        <div id="result" class="font-italic h2">
                            <hr>
                            
                        </div>
                    </div>
                </div>
                
            </section>

            <!-- Final score section -->
            <section id="final">
                <div class="row">
                    <div class="col-12"></div>
                    <div class="col-12 pl-1 ml-2 mb-3 h2">
                        <p>Your final score is: <span id="score">here</span></p>              
                        <button id="submit-score" class="btn btn-info btn-lg ml-2">Submit</button>
                        <button id="view-scores" type="button" class="btn btn-info btn-lg text-center">View Scores</button>
                                        
                </div>                                
            </section>

            <!-- High Scores section-->
            <section id="highscores">
                <div class="row">                   
                    <div class="col-12">
                            <h2>Scores</h2>                            
                            <ol id="score-list">list</ol>
                            <button id="playagain" class="btn btn-info btn-lg mr-5">Try Again</button>
                            <button id="clearscores" class="btn btn-info btn-lg">Clear scores</button>
                    </div>
                </div>
            </section>           
        </div>
    </main>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-white">
   
  
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3 text-secondary"></i>KESBH School
                </h6>
                <p>
                    KESHB School is designed with training, testing, and learning in mind. To facilitate reading and fundamental comprehension, examples could be simplified.
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Developers
                </h6>
                <p>
                  <a href="https://github.com/SammPreston" class="text-reset">Sammantha</a>
                </p>
                <p>
                  <a href="https://github.com/KafiH" class="text-reset">Kafi</a>
                </p>
                <p>
                  <a href="https://github.com/EbruKostekci" class="text-reset">Ebru</a>
                </p>
                <p>
                  <a href="https://github.com/Hassan3k" class="text-reset">Hassan</a>
                </p>
                <p>
                    <a href="https://github.com/burakcersit" class="text-reset">Burak</a>
                  </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h6>
                <p>
                  <a href="/profile" class="text-reset">Profile</a>
                </p>
                <p>
                  <a href="/roadMap" class="text-reset">Curriculum</a>
                </p>
                <p>
                  <a href="/about" class="text-reset">About</a>
                </p>
                <p>
                  <a href="/contactus" class="text-reset">Help - Contact Us</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fas fa-home me-3 text-secondary"></i> Bayshore Dr, Ottawa, ON</p>
                <p>
                  <i class="fas fa-envelope me-3 text-secondary"></i>
                  keshbschool@gmail.com
                </p>
                <p><i class="fas fa-phone me-3 text-secondary"></i> +1 647 573 15 15</p>
                <p><i class="fas fa-print me-3 text-secondary"></i> +1 647 585 96 96</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
          © 2023 Copyright:
          <a class="text-reset fw-bold" href="http://localhost:3001/landing">KESHBschool.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->

    <script src="/js/nav1.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="js/quiz.js"></script>

</body>

</html>