<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/nav1.css">
    <link rel="stylesheet" href="/styles/roadMap.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <title>Road Map</title>
</head>
<body>
    <script src="/js/nav1.js"></script>
    <div id="mnCont">
        <div id="titleCard">
            <h1>Road Map<br>to<br>Web Development</h1>
        </div>
        <div id="curriculumButtonContainer">
            <button class="curriculumButtons" onClick="window.location.href='#'">HTML</button>
            <button class="curriculumButtons" onClick="window.location.href='#'">CSS</button>
            <button class="curriculumButtons" onClick="window.location.href='#'">JavaScript</button>
        </div>
    </div>
    
</body>
</html>