<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Nav Link-->
    <link rel="stylesheet" href="/styles/nav1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <!--Footer link -->
    <link rel="stylesheet" href="/styles/landing.css">
    <!--Page styles-->
    <link rel="stylesheet" href="/styles/summary.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap" rel="stylesheet">
    <title>Chapter Summary</title>
</head>
<body>
    <script src="/js/nav1.js"></script>
    <main>
        <div id="heading">
            <h1>HTML 5</h1>
        </div>
        
        <div id="subBanner">
            <h3>Chapter Summary</h3> 
        </div>
        <div id="largeBox">
            <div id="contentCard">
                <div id="titleCard">
                    <h5>Title</h5>
                    <h5 >Quiz Score</h5>
                </div>
                <!--All fields must be submitted into a database to be pulled from then additional rows will be added through a JS function that creates new field anytimg a new chapter is added to the DB-->
                <table>
                    <tr>
                        <td>1. </td>
                        <td><a href="#">Introduction</a></td>
                        <td>100%</td> 
                        <td><img src="/img/badgeGoldStar.png" style="width: 2.5vw;"></td>
                    </tr>
                    <tr>
                        <td>2. </td>
                        <td><a href="#">Editors</a></td>
                        <td>100%</td>
                        <td><img src="/img/badgeGoldStar.png" style="width: 2.5vw;"></td>
                    </tr>
                    <tr>
                        <td>3. </td>
                        <td><a href="#">Basics</a></td>
                        <td>100%</td>
                        <td><img src="/img/badgeGoldStar.png" style="width: 2.5vw;"></td>
                    </tr>
                    <tr>
                        <td>4. </td>
                        <td><a href="#">Elements</a></td>
                        <td>65%</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>5. </td>
                        <td><a href="#">Attributes</a></td>
                        <td>85%</td>
                        <td><img src="/img/badgeSilverStar.png" style="width: 2.5vw;"></td>
                    </tr>
                    <tr>
                        <td>6. </td>
                        <td><a href="#">Headings</a></td>
                        <td>70%</td>
                        <td><img src="/img/badgeBronzeStar.png" style="width: 2.5vw;"></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: center;"><a href="/about">To Be <br>Further Developed</a></td>
                    </tr>
              
                </table>
            </div>
           
        </div>
        <!-- <script src="/js/chapterSummary.js"></script> -- To be developed-->
    </main>
    
    <footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </footer>
</body>
</html>