
.xmp {
    text-align: left;
    color: #3a2e1c;
    font-size: 16px;


}

body {
    background-color: antiquewhite;
}

.title{
    width: 400px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}


#examp3 {
    width: 240px;
    border-style: solid ;
    border-width: 1px;

    font-weight: bolder;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: white;
}

#examp1 {

    text-align: left;
    padding: 15px;
    
    background-color: rgb(231, 208, 176);
    border-radius: 25px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#examp2 {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 15px;
    
    background-color: rgb(231, 208, 176);
    border-radius: 25px;
    width: 1000px;
   
}


#examp6 {

    text-align: left;
    padding: 15px;
    
    background-color: rgb(231, 208, 176);
    border-radius: 25px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#intro {
    text-align: center;
    margin-top: 120px;
}

#examp5 {
    
    background-color: rgb(231, 208, 176);
    border-radius: 25px;
    width: 990px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
table{
    background-color: white;
}

#toquiz{
    background-color:#624d30;
    width: 100%;
    color: white;
    text-decoration: none;
}

/*MAIN DIV*/
#nav{
    padding: 5px 0;
    width: 100%;
    background-color:  #824621;
    box-shadow: -5px 0 10px 10px rgba(60, 25, 4, 0.786);
    
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    top: 0;
    left:0;
    
}

/*LEFT NAV*/
#leftNavGroup{
    border-bottom: 5px double #9d7c67;
    align-items: center;
    display: flex;
    align-content: center;
}
#leftNavGroup:hover{
    border-bottom: 5px double rgb(76, 7, 10);
}
#proCon{
    margin: 0  .5vw;
    height: 3.8vw;
    width: 3.8vw;
    
    font-size: 2rem;
    text-decoration: none;
    color:#c29e88;
    
    background-color: rgb(34, 69, 73);
    border: 4px double rgb(55, 161, 182);
    border-radius: 50%;
    
    float:left;
    display: flex;
    justify-content: center;
}
#proCon:hover{
    color:rgb(247, 152, 0);
    border: 4px double rgb(247, 152, 0);
}
#achievLink{
    margin: 0 2vw;
    padding: 3px;
    width: 3.6vw;
    height: 3.6vw;
    
    border: 3px solid #c29e88;

    display: block;
    contain: content;
    float: left;
    position :relative;
    bottom: 2px;
}
#achievLink:hover{
   border: 3px solid rgb(76, 7, 10);
}
#achiev{
    width: 100%;
}

#userScore{
    margin: 0  1vw;
    font-size:1.5em;
    color:#c29e88;
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
}
#userScore:hover{
    color: rgb(76, 7, 10);
}

/*HOME*/
#homeLink{
    padding: 10px;
    font-size: 2em;
    color: rgb(76, 7, 10);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
    border-right: 5px double #9d7c67;
    border-left: 5px double #9d7c67;
    
    display: flex;
    align-items: center;
   
}
#homeLink:hover{
    color:#c29e88;
    border-right: 5px double rgb(76, 7, 10);
    border-left: 5px double rgb(76, 7, 10);
}

/*RIGHT NAV GROUP*/
#rightNavGroup{

    border-bottom: 5px double #9d7c67;
}
#rightNavGroup:hover{
    border-bottom: 5px double rgb(76, 7, 10);
}
.rightNav{
    padding: 1vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color:#c29e88;
    text-decoration: none;
    text-align: center;
    position: relative;
    top: 12px;
}
.rightNav:hover{
    color: rgb(76, 7, 10);
}

#change{
    position: relative;
    top: 75px;
    z-index: -1;
}

.btnLearnHtml {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(0, 220, 29);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    margin-bottom: 25px;
}

.btnAllign{
    display: flex;
    justify-content: center;
    
}
.btnLearnHtml:hover {
    background-color: rgb(0, 220, 29);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

.btnLearnHtml:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


footer{
    padding-top: 15px;
    margin-top: 15px;
}