#master{
  
  position: relative;
  top: 80px;
}

.profpic {
    height: 10em;
    width: 10em;
    border-radius: 100%;
    overflow: hidden;
   
    margin-right: 10px;
    display: block;
    margin: 0 auto;
}
 h1{
    display: flex;
    align-items: center;
    justify-content: center; 
 }
.linkedin {
    width: 2em;
    height: 2em;
}

.fa-brands fa-github {
    width: 25px;
    margin-right: 2px;
}

.column {
    height: 55em;
    /* position: relative;
    right: 70px; */
    float: left;
    width: 35%;
    background-color:rgb(240, 189, 122);
    border: thin solid black; /*adds a thin border*/
    box-shadow: 5px 5px 5px gray; /* adds a shadow */
}

body{
  background-color: antiquewhite;
}
.text-box {
    background-color: white;


}

.social-icons {
    display: flex;
    align-items: center;
    float: left;
    padding: 10px;
  }
  
  .score {
    display: flex;
    align-items: right;
    position: relative; /* allow the star image to be positioned absolutely */
    left: 40%; /* position the star image in the middle of the social-icons container */
    bottom: 10%;
    
    transform: translateX(-50%); /* move the trophy image to the left to center it */
  }
  
  .star {
    width: 2em;
    height: 2em;
    margin:auto;
    
}
.numscore{
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.beepers-container {
   
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }
  .beeper {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 10px;
  }
  
  /* Style for the 5 lit up beepers */
  .beeper:nth-child(-n+5) {
    background-color: green;
  }
  
  @media screen and (max-width: 600px) {
    table {
      width: 100%; /* make the table full width when the screen size is less than 600px */
    }
  
    .column1 {
      width: 50%; /* adjust the width of the images when the screen size is less than 600px */
      
    }
  }
  .column1 {
    width: 50%; /* adjust the width of the images when the screen size is less than 600px */
    margin: 10px;
    
   
}
table{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
  position: relative;
  top: -5%;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

/* Main-content  */


h4 {
  background-color:rgb(240, 189, 122);

    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;

  }
  
h5{
  background-color:rgb(240, 189, 122);
  display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.progress-container {
    /* position: relative; */
    display: flex;
    align-items: center;
  }
  
  .progress-icon {
    position: absolute;
    left: 540px;
    width: 60px;
    margin-top: 40px;
  }
  
  .progress-bar {
    width: 90%;
    height: 24px;
    background-color: #333333;
    border-radius: 12px;
    position: relative;
    left: 10%;
    margin-top: 40px;
  }
  
  .progress-bar-fill {
    height: 100%;
    background-color: #ffa500;
    border-radius: 12px;
    transition: width 0.25s ease-in-out;
  }
  
  .progress-bar-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #fff;
    text-align: center;
  }
/* second progress bar CSS */


  .progress-container1 {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .progress-icon1 {
    position: absolute;
    left: 10px;
    width: 60px;
  }
  
  .progress-bar1 {
    width: 90%;
    height: 24px;
    background-color: #333333;
    border-radius: 12px;
    position: relative;
    left: 10%;
  }
  
  .progress-bar-fill-1 {
    height: 100%;
    background-color: #3040b4;
    border-radius: 12px;
    transition: width 0.25s ease-in-out;
  }
  
  .progress-bar-text-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #fff;
    text-align: center;
  }
/* for the thrid progress bar */
.progress-container2 {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .progress-icon2 {
    position: absolute;
    left: 10px;
    width: 60px;
  }
  
  .progress-bar2 {
    width: 90%;
    height: 24px;
    background-color: #333333;
    border-radius: 12px;
    position: relative;
    left: 10%;
  }
  
  .progress-bar-fill-2 {
    height: 100%;
    background-color: #e1ea36;
    border-radius: 12px;
    transition: width 0.25s ease-in-out;
  }
  
  .progress-bar-text-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #fff;
    text-align: center;
  }
/* embeded codepen  */
.codepen {
    width: 59%;
    height: 300px;
    position: relative;
    left: 600px;
    bottom: 250px;
    /* float: left;
    padding-left: 10%; */
}

    footer{
      z-index: -1;
      float: left;
      width: 100%;
      padding-top: 1%;
      
      
    }
   
    