body{
    background-color: antiquewhite;
    display:flex;
    flex-direction:column;
   
}
#mnCont{
    width: 100%;
    margin-top: 100px;
    display:flex;
    flex-direction:column;
    align-self: center;
    padding-top: 20px;

}
#titleCard{
    text-align: center;
    background-color:rgb(240, 189, 122);
    padding: 10px;
    

}
#titleCard>h1{
    font-size: 3em;
    font-family: 'Orbitron', sans-serif;
}
#curriculumButtonContainer{
    margin-top: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
    align-self:center;
}
.curriculumButtons{
    margin: 10px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(0, 220, 29);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.curriculumButtons:hover{
    background-color: rgb(0, 220, 29);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}